/*

!matugen/
!hypr/
!rofi/
!cava/
!waybar/

!.gitignore
hypr/hyprland/scripts/testscheme.sh
hypr/hyprland/colors.conf
hypr/hyprland/scripts/test1.sh
rofi/colors.rasi
cava/shaders
cava/themes
waybar/colors_primary.css
waybar/colors_secondary.css