* {
    background-color: @background;
    color: @secondary;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "JetBrainsMono Nerd Font Propo",FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 11.5px;
}

#window,
#workspaces,
#memory,
#pulseaudio,
#cpu,
#memory,
#clock,
#clock#clock1,
#custom-tray,
#custom-notification ,
#power {
    background-color: @bg0;
    padding: 0 8px;
    margin: 0 5px;
    border-radius: 0;
    border: none;
    box-shadow: none;
}